/*Styling for site header*/
.c-site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.c-mobile-navbar {
  height: var(--header-height);
}
.c-top-navbar,
.c-side-navbar {
  display: none;
}
.c-side-navbar {
  width: var(--side-nav-width);
  position: sticky;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
}
.c-navbar--show-items {
  display: block;
}
.c-mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-top-navbar__menu,
.c-side-navbar__menu,
.c-side-navbar__sub-menu {
  list-style: none;
  padding: 16px 0;
  margin: 0;
}
.c-side-navbar__menu {
  padding: 0;
}
.c-top-navbar__link,
.c-side-navbar__link, .c-side-navbar__link-category {
  text-decoration: none;
  color: var(--clr-text-primary);
}
.c-top-navbar__link:hover,
.c-side-navbar__link:hover {
  color: var(--clr-text-secondary);
}

/*Active state styling*/
.c-top-navbar__link.link--active,
.c-side-navbar__link.link--active {
  color: var(--clr-text-secondary);
}

/*Styling for the content area*/
.c-site-content {
  position: absolute;
  top: var(--header-height);
}

/*Styling for page title container*/
.c-site-title-container {
  height: 160px;
}

/*Styling for colour palette table*/
.c-colour-block,
.c-type-block {
  border-bottom: 1px solid var(--clr-bg-accent-light);
}

/*Styling for colour swatch & fonts use case table*/
.c-colour-details__title,
.c-typeface-details__title {
  text-align: left;
}
.c-colour-details__colour-swatch {
  display: inline-block;
  width: 200px;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.c-colour-details__attribute {
  width: 120px;
}
.c-type-details__attribute {
  width: 100%;
}

/*Styling for Colour-combinations, Spacing table*/
.c-colour-combinations__table,
.c-spacing-table,
.c-containers-table {
  border-collapse: collapse;
  text-align: center;
}
.c-colour-combinations__table-heading,
.c-colour-combinations__table-data,
.c-spacing-table__table-heading,
.c-spacing-table__table-data,
.c-containers-table__table-heading,
.c-containers-table__table-data {
  border: 1px solid #000;
}
.c-table-scroll {
  overflow: auto;
}

/*Styling for 'Class Name' table header*/
.c-spacing-table__table-heading-class,
.c-containers-table__table-heading-class {
  min-width: 110px;
}

/*Styling for Typography tables*/
.c-typography-table {
  border: 1px solid #000;
  border-spacing: 70px 25px;
}
.c-typography-alphabets-table {
  width: 865px;
}
.c-typography-table__regular-caps {
  padding-top: 20px;
}

/*Styling for About Me page*/
.c-developer-info__image {
  width: 100%;
}

/*Styling for Desktop screens*/
@media screen and (min-width: 1200px) {
  .c-mobile-navbar__toggle {
    display: none !important;
  }
  .c-top-navbar,
  .c-side-navbar {
    display: block;
  }
  /*Hides side navbar in About Me page in desktop view*/
  .c-side-navbar--inactive {
    display: none;
  }
  .c-desktop-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-bg-primary);
  }
  .c-top-navbar__menu {
    display: flex;
  }
  .c-mobile-navbar,
  .c-top-navbar {
    background-color: unset;
  }
  .c-site-content {
    left: var(--side-nav-width);
  }
  .c-site-content-no-sidenav {
    left: 0;
  }
  .c-desktop-header {
    height: var(--header-height);
  }
  .c-type-details__attribute {
    width: 170px;
  }
  .c-developer-info__image {
    width: 500px;
  }
}
