.top-navbar, .side-navbar {
    display: none;
}
.navbar--show-items {
    display: block;
}
.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-navbar__toggle {
    padding-right: 10px;
}
.top-navbar__menu, .side-navbar__menu, .side-navbar__sub-menu {
    list-style: none;
    padding-left: 0;
}
.top-navbar__link, .side-navbar__link {
    text-decoration: none;
    color: var(--clr-primary);
}
.top-navbar__link:hover, .side-navbar__link:hover {
    color: var(--clr-secondary);
}
.side-navbar__sub-menu {
    margin: 16px 0;
}

/*Styling for Desktop screens*/
@media screen and (min-width: 1200px) {
    .mobile-navbar__toggle {
        display: none;
    }
    .top-navbar, .side-navbar {
        display: block;
    }
    .desktop-header {
        display: flex;
        justify-content: space-between;
    }
    .top-navbar__menu {
        display: flex;
    }
}