:root {
  /*Color variables*/
  --clr-text-primary: #605f4f;
  --clr-bg-primary: #e6fef7;
  --clr-text-secondary: #BA2D0B;
  --clr-bg-secondary: #fddb91;
  --clr-accent: #ba2d0b;
  --clr-bg-primary-light: #f4ffff;
  --clr-text-primary-light: #f4ffff;
  --clr-bg-primary-dark: #b5f6eb;
  --clr-bg-accent-light: #ff9e77;
  --clr-bg-accent-dark: #7a1700;

  /*Font variables*/
  --heading-font: 'Cabin', sans-serif;
  --body-font: 'Playfair Display', serif;

  --heading-size-xl-dt: 2.5rem; /*Heading size for h1 element (Site logo / Page title) in desktop view*/
  --heading-size-xl-mb: 2rem; /*Heading size for h1 element in mobile view*/
  --heading-size-lg-dt: 2rem; /*Heading size for h2 elements in desktop view*/ 
  --heading-size-lg-mb: 1.8rem; /*Heading size for h2 elements in mobile view*/ 
  --heading-size-md: 1.5rem; /*Heading size for h3 elements in desktop & mobile view*/
  --heading-size-sm: 1.25rem; /*Heading size for h4 elements in desktop & mobile view*/
  --body-size-lg: 1.1rem; /*Contact form labels, FAQ title, Name in Testimonials, section content*/
  --body-size-md: 1rem; /*Blog content, excerpt, meta info*/

  --heading-weight-bold: bold;
  --heading-weight-regular: normal;
  --body-weight-bold: bold;
  --body-weight-regular: normal;

  --heading-line-height-xl-dt: 1.2;
  --heading-line-height-lg-dt: 1.3;
  --heading-line-height-md: 1.4;
  --body-line-height: 1.5;

  --letter-spacing-xl-dt: -0.02em;
  --letter-spacing-lg-dt: -0.01em;
  --letter-spacing-heading: 0em;
  --letter-spacing-normal: 0.01em;
}

/*Border box fix*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Reset browser-default margin*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/*Reset padding value of list element*/
li {
  padding: 0;
}

/*Utility classes for all the colors*/
.u-text-primary {
  color: var(--clr-text-primary);
}

.u-text-secondary {
  color: var(--clr-text-secondary);
}

.u-bg-primary {
  background-color: var(--clr-bg-primary);
}

.u-bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.u-accent {
  background-color: var(--clr-accent);
}

.u-bg-primary-light {
  background-color: var(--clr-bg-primary-light);
}

.u-text-primary-light {
  color: var(--clr-text-primary-light);
}

.u-bg-primary-dark {
  background-color: var(--clr-bg-primary-dark);
}

.u-bg-accent-light {
  background-color: var(--clr-bg-accent-light);
}

.u-bg-accent-dark {
  background-color: var(--clr-bg-accent-dark);
}

/*Utility classes for font family*/
.u-heading-font {
  font-family: var(--heading-font);
}
.u-body-font {
  font-family: var(--body-font);
}
.u-heading-xl-dt {
  font-size: var(--heading-size-xl-dt);
}
.u-heading-xl-mb {
  font-size: var(--heading-size-xl-mb);
}
.u-heading-lg-dt {
  font-size: var(--heading-size-lg-dt);
}
.u-heading-lg-mb {
  font-size: var(--heading-size-lg-mb);
}
.u-heading-md {
  font-size: var(--heading-size-md);
}
.u-heading-sm {
  font-size: var(--heading-size-sm);
}
.u-body-lg {
  font-size: var(--body-size-lg);
}
.u-body-md {
  font-size: var(--body-size-md);
}
.u-heading-bold {
  font-weight: var(--heading-weight-bold);
}
.u-heading-regular {
  font-weight: var(--heading-weight-regular);
}
.u-body-bold {
  font-weight: var(--body-weight-bold);
}
.u-body-regular {
  font-weight: var(--body-weight-regular);
}
.u-heading-line-height-xl {
  line-height: var(--heading-line-height-xl-dt);
}
.u-heading-line-height-lg {
  line-height: var(--heading-line-height-lg-dt);
}
.u-heading-line-height-md {
  line-height: var(--heading-line-height-md);
}
.u-body-line-height {
  line-height: var(--body-line-height);
}
.u-letter-spacing-xl-dt {
  letter-spacing: var(--letter-spacing-xl-dt);
}
.u-letter-spacing-lg-dt {
  letter-spacing: var(--letter-spacing-lg-dt);
}
.u-letter-spacing-heading {
  letter-spacing: var(--letter-spacing-heading);
}
.u-letter-spacing-normal {
  letter-spacing: var(--letter-spacing-normal);
}