:root {
  --clr-text-primary: #605F4F;
  --clr-bg-primary: #E6FEF7;
  --clr-text-secondary: #8C8B7B;
  --clr-bg-secondary: #FDDB91;
  --clr-accent: #BA2D0B;
  --clr-bg-primary-100: #F4FFFF;
  --clr-bg-primary-200: #B8F7EE;
  --clr-bg-accent-100: #FF9E77;
  --clr-bg-accent-200: #7A1700;
}

/*Border box fix*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Reset browser-default margin*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/*Reset padding value of list element*/
li {
  padding: 0;
}

/*Utility classes for all the colors*/
.u-text-primary {
  color: var(--clr-text-primary);
}

.u-text-secondary {
  color: var(--clr-text-secondary);
}

.u-bg-primary {
  background-color: var(--clr-bg-primary);
}

.u-bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.u-accent {
  color: var(--clr-accent);
  background-color: var(--clr-accent);
}

.u-bg-primary-light {
  background-color: var(--clr-bg-primary-100);
}

.u-bg-primary-dark {
  background-color: var(--clr-bg-primary-100);
}

.u-bg-accent-light {
  background-color: var(--clr-bg-accent-100);
}

.u-bg-accent-dark {
  background-color: var(--clr-bg-accent-200);
}